<div class="tweet-container">
  <div class="tweet-header">
    <app-user-menu
      [imageSrc]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlFTS6Iw8HYfMJx8Eq2HZ-mR3waCJa2VC1uwwbNoJ3Lp3Qakry8CIoxUpH7AmiQ_c4S1W2YY0Lfq1fGlpgDK2UWAO0RDAFaRISUTj4tDODQEbCpReevEKUhEVFmvwUjNUkv7w&s=10&ec=121584926'"
      [displayedName]="'User'"
      [userName]="tweet().userId"
    />
    <app-tweet-time [date]="tweet().createdAt" />
  </div>

  <div class="content-container">
    <span>{{ tweet().content }}</span>
  </div>

  <div class="interaction-container">
    <button matIconButton class="interaction-button interaction-button-comment">
      <mat-icon class="interaction-icon">comment</mat-icon>
      <span class="interaction-count">{{ tweet().commentCount }}</span>
    </button>

    <button
      matIconButton
      class="interaction-button interaction-button-heart"
      [class.liked]="isLiked()"
      [disabled]="isLikeLoading()"
      [attr.aria-pressed]="isLiked()"
      (click)="onLikeClick()"
    >
      <mat-icon class="interaction-icon">{{ isLiked() ? 'favorite' : 'favorite_border' }}</mat-icon>
      <span class="interaction-count">{{ likeCount() }}</span>
    </button>

    <button matIconButton class="interaction-button interaction-button-retweet">
      <mat-icon class="interaction-icon">cached</mat-icon>
      <span class="interaction-count">{{ tweet().retweetCount }}</span>
    </button>
  </div>
</div>
