.home-container {
  padding: 20px;
  margin: 20px auto;
  display: flex;
  justify-content: center;

  app-feed {
    width: 30%;
  }

  mat-card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  mat-card-content {
    p {
      margin: 10px 0;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
