.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  width: 100%;
  margin: 0 auto;

  router-outlet {
    width: 0%;
  }

  app-feed, app-profile {
    width: 33%;
  }

  .place-holder, app-sidebar {
    min-width: 33%;
  }
}

